## Notebook 4 - Location Analysis

In [1]:
import sys
print(sys.version)
print(spark.version)

3.8.15 | packaged by conda-forge | (default, Nov 22 2022, 08:46:39)
[GCC 10.4.0]
3.1.3

In [2]:
import pandas as pd
import numpy as np
pd.set_option('display.max_colwidth', None)
pd.reset_option('display.max_rows')
from itertools import compress 
from pyspark.sql.functions import *
from pyspark.sql.types import *
import seaborn as sns
import matplotlib.pyplot as plt
warnings.filterwarnings(action='ignore')

In [4]:
import re

In [3]:
import seaborn as sns
import matplotlib.pyplot as plt
%config InlineBackend.figure_format = 'svg'

In [6]:
#pip install -U regex

In [5]:
pd.set_option("max_colwidth", 100)

In [6]:
from google.cloud import storage
# !pip install gcsfs --upgrade

In [8]:
pip install a-world-of-countries

Collecting a-world-of-countries
  Downloading a_world_of_countries-1.0.0-py3-none-any.whl (34 kB)
Collecting pydash
  Downloading pydash-6.0.2-py3-none-any.whl (85 kB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 85.4/85.4 kB 4.6 MB/s eta 0:00:00
Installing collected packages: pydash, a-world-of-countries
Successfully installed a-world-of-countries-1.0.0 pydash-6.0.2
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Note: you may need to restart the kernel to use updated packages.

In [9]:
import awoc
my_world = awoc.AWOC()

### Setting Up Helper Functions

In [10]:
spark.conf.set("spark.sql.repl.eagerEval.enabled",True)

In [11]:
twitter_df5= spark.read.parquet('gs://msca-bdp-students-bucket/shared_data/kshitijm/Final_Project-FiltData3')

In [12]:
twitter_df5.limit(15)

23/03/10 14:52:48 WARN org.apache.spark.sql.catalyst.util.package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------------------+--------------------+--------------------+--------------------+-----------------+-------------+------------------+---------------------+----------------+--------+--------+------------+-----------+-----------+-------------+--------------+-------------------+----------+----------------+--------------+-------------------+----------------+-------------------+---------------+--------------------+--------------------+-----------+---------------+-------------+------------+----------------+------------+--------------------+-----------------------+--------+--------------+
|                 id|          created_at|                text|          tweet_text|tweet_coordinates|tweet_country|tweet_country_code|tweet_place_full_name|tweet_place_type|is_reply|is_quote|is_retweeted|reply_count|quote_count|retweet_count|favorite_count|     rp_original_id|rp_user_id|rp_original_user|qu_original_id|     rt_original_id|rt_original_user|         account_id|   account_name| account_description|    account_location|is_verified|total_followers|total_friends|total_listed|total_favourites|total_tweets|  account_created_at|account_profile_picture|hashtags|    tweet_type|
+-------------------+--------------------+--------------------+--------------------+-----------------+-------------+------------------+---------------------+----------------+--------+--------+------------+-----------+-----------+-------------+--------------+-------------------+----------+----------------+--------------+-------------------+----------------+-------------------+---------------+--------------------+--------------------+-----------+---------------+-------------+------------+----------------+------------+--------------------+-----------------------+--------+--------------+
|1568560486668460032|Sat Sep 10 11:22:...|@RMwareya @Peterm...|@rmwareya @peterm...|             null|         null|              null|                 null|            null|    true|   false|            |          0|          0|            0|             0|1568390559634493446| 609481629|        RMwareya|          null|               null|            null|           19252202|     grootdawid|Husband, father o...|  Cambridge, England|      false|           1902|          608|           4|          188727|       79017|Tue Jan 20 19:25:...|   https://pbs.twimg...|      []|         reply|
|1568560492217618436|Sat Sep 10 11:22:...|I've been shouted...|i've been shouted...|             null|         null|              null|                 null|            null|   false|   false|            |          0|          0|            0|             0|               null|      null|            null|          null|               null|            null|1428855922647052297|       IdyanCFC|Im not your savio...|                null|      false|             88|          257|           0|            8922|       25705|Fri Aug 20 23:06:...|   https://pbs.twimg...|      []|original_tweet|
|1568560493400408065|Sat Sep 10 11:22:...|RT @chidicy12: NE...|news flash:
"it's...|             null|         null|              null|                 null|            null|   false|   false|          RT|          0|          0|            0|             0|               null|      null|            null|          null|1568362649276272640|       chidicy12|1455951825413214211|    OkezieKevin|          Simplicity|                null|      false|           1502|         2141|           0|            3402|       11345|Wed Nov 03 17:37:...|   https://pbs.twimg...|      []|       retweet|
|1568560496055394304|Sat Sep 10 11:22:...|RT @AmyA1A: @libs...|@libsoftiktok @sd...|             null|         null|              null|                 null|            null|   false|   false|          RT|          0|          0|            0|             0|               null|      null|            null|          null|1568352872743555081|          AmyA1A|         4785945251|JoseAnt18071999|23 | Gu√≠a tur√≠sti...|    Estepona, Espa√±a|      false|             76|          526|           1|           31566|       10479|Tue Jan 12 16:53:...|   https://pbs.twimg...|      []|       retweet|
|1568560496319635457|Sat Sep 10 11:22:...|RT @Javidfaisal: ...|education is the ...|             null|         null|              null|                 null|            null|   false|   false|          RT|          0|          0|            0|             0|               null|      null|            null|          null|1568495713981550594|     Javidfaisal| 759076339517448192|  tamanna_shams|Ÿæÿ¥ÿ™ŸàŸÜ ÿ®ŸàÿØ ⁄ÜŸà ŸÇŸÑÿ®ŸÖ...|         Afghanistan|      false|          10218|         2888|          10|            2680|        2124|Fri Jul 29 17:21:...|   https://pbs.twimg...|      []|       retweet|
|1568560501201801218|Sat Sep 10 11:22:...|RT @americansunit...|thanks to #scotus...|             null|         null|              null|                 null|            null|   false|   false|          RT|          0|          0|            0|             0|               null|      null|            null|          null|1567870443809394688| americansunited|          955661743|AmersUnitedCSRA|Central Savannah ...|    Augusta, GA, USA|      false|             63|           40|           4|               4|        1709|Sun Nov 18 15:09:...|   https://pbs.twimg...|[SCOTUS]|       retweet|
|1568560503022026754|Sat Sep 10 11:22:...|RT @PHITHETAKAPPA...|community college...|             null|         null|              null|                 null|            null|   false|   false|          RT|          0|          0|            0|             0|               null|      null|            null|          null|1568356190844817420|   PHITHETAKAPPA|         1630284805|       mgccprez|President of @mgc...|            Virginia|      false|           2782|         2087|         217|            8799|       21847|Mon Jul 29 12:34:...|   https://pbs.twimg...|      []|       retweet|
|1568560511138004992|Sat Sep 10 11:22:...|Subscriber Papers...|subscriber papers...|             null|         null|              null|                 null|            null|   false|   false|            |          0|          0|            0|             0|               null|      null|            null|          null|               null|            null|          325682740|   willgirl1225|Above Ability Abo...|ÿßŸÑŸÖŸÖŸÑŸÉÿ© ÿßŸÑÿπÿ±ÿ®Ÿäÿ© ÿß...|      false|              1|            8|           0|               0|       11963|Tue Jun 28 18:03:...|   https://pbs.twimg...|      []|original_tweet|
|1568560513319051264|Sat Sep 10 11:22:...|Homes near outsta...|homes near outsta...|             null|         null|              null|                 null|            null|   false|   false|            |          0|          0|            0|             0|               null|      null|            null|          null|               null|            null|           28092030|         FAB87F|Christian ‚úùÔ∏è; Iri...|    Northern Ireland|      false|          18681|        17438|           0|          154334|      147257|Wed Apr 01 11:59:...|   https://pbs.twimg...|      []|original_tweet|
|1568560517412753408|Sat Sep 10 11:22:...|One of the most t...|one of the most t...|             null|         null|              null|                 null|            null|   false|   false|            |          0|          0|            0|             0|               null|      null|            null|          null|               null|            null|          131458935|     KevinMwalo|        Freespirited|                null|      false|             65|          579|           0|             375|         207|Sat Apr 10 09:46:...|   https://pbs.twimg...|      []|original_tweet|
|1568560532440977410|Sat Sep 10 11:22:...|RT @AbroErum: The...|the crops‚Ä¶ and mi...|             null|         null|              null|                 null|            null|   false|   false|          RT|          0|          0|            0|             0|               null|      null|            null|          null|1568306536887246856|        AbroErum|1074333769534988289|SaleemSahito007|ÿ≥Ÿèÿ®Ÿíÿ≠ŸéÿßŸÜŸé ÿßŸÑŸÑŸéŸëŸáŸê...|karachi, Sindh, P...|      false|           4796|         4501|           4|            7452|        6631|Sun Dec 16 16:01:...|   https://pbs.twimg...|      []|       retweet|
|1568560536157143047|Sat Sep 10 11:22:...|RT @BlackBeardsfl...|funfacts: black m...|             null|         null|              null|                 null|            null|   false|   false|          RT|          0|          0|            0|             0|               null|      null|            null|          null|1568560072694939648| BlackBeardsflag| 805516112456581120|      BigDonTee|Satirical tweets,...|      Washington, DC|      false|           3083|         1564|          16|             862|      200713|Sun Dec 04 20:56:...|   https://pbs.twimg...|      []|       retweet|
|1568560536228450304|Sat Sep 10 11:22:...|I'm having so muc...|i'm having so muc...|             null|         null|              null|                 null|            null|   false|   false|            |          0|          0|            0|             0|               null|      null|            null|          null|               null|            null|1482713970721144838|    BiubiumewHJ|Nsfw | 18 + | Veg...|                null|      false|             58|           62|           0|           18486|        4941|Sun Jan 16 13:59:...|   https://pbs.twimg...|      []|original_tweet|
|1568560538900217857|Sat Sep 10 11:22:...|@adamugarba Who, ...|@adamugarba who, ...|             null|         null|              null|                 null|            null|    true|   false|            |          0|          0|            0|             0|1568234587091877890|  41113813|      adamugarba|          null|               null|            null|1547148459496677377|       ifyn4all|Beautiful, Simple...|                null|      false|             12|          123|           0|               3|         734|Wed Jul 13 09:19:...|   https://pbs.twimg...|      []|         reply|
|1568560548941557766|Sat Sep 10 11:22:...|RT @vanyakairos: ...|the only reason t...|             null|         null|              null|                 null|            null|   false|   false|          RT|          0|          0|            0|             0|               null|      null|            null|          null|1568056678762807298|     vanyakairos|1494609400102748161|CambridgeLord79|     Lemons Lemonade|                null|      false|             58|          335|           0|               9|         147|Fri Feb 18 09:48:...|   https://abs.twimg...|      []|       retweet|
+-------------------+--------------------+--------------------+--------------------+-----------------+-------------+------------------+---------------------+----------------+--------+--------+------------+-----------+-----------+-------------+--------------+-------------------+----------+----------------+--------------+-------------------+----------------+-------------------+---------------+--------------------+--------------------+-----------+---------------+-------------+------------+----------------+------------+--------------------+-----------------------+--------+--------------+

In [11]:
twitter_df5.count()

27102994

In [13]:
twitter_df5.select([count(when(isnull(c), c)).alias(c) for c in twitter_df5.columns])

+---+----------+----+----------+-----------------+-------------+------------------+---------------------+----------------+--------+--------+------------+-----------+-----------+-------------+--------------+--------------+----------+----------------+--------------+--------------+----------------+----------+------------+-------------------+----------------+-----------+---------------+-------------+------------+----------------+------------+------------------+-----------------------+--------+----------+
| id|created_at|text|tweet_text|tweet_coordinates|tweet_country|tweet_country_code|tweet_place_full_name|tweet_place_type|is_reply|is_quote|is_retweeted|reply_count|quote_count|retweet_count|favorite_count|rp_original_id|rp_user_id|rp_original_user|qu_original_id|rt_original_id|rt_original_user|account_id|account_name|account_description|account_location|is_verified|total_followers|total_friends|total_listed|total_favourites|total_tweets|account_created_at|account_profile_picture|hashtags|tweet_type|
+---+----------+----+----------+-----------------+-------------+------------------+---------------------+----------------+--------+--------+------------+-----------+-----------+-------------+--------------+--------------+----------+----------------+--------------+--------------+----------------+----------+------------+-------------------+----------------+-----------+---------------+-------------+------------+----------------+------------+------------------+-----------------------+--------+----------+
|  0|         0|   0|         0|         27081980|     26869044|          26869044|             26869044|        26869044|       0|       0|           0|          0|          0|            0|             0|      22697695|  22571090|        22571090|      24666475|       9041884|         9041884|         0|           0|                  0|         8218657|          0|              0|            0|           0|               0|           0|                 0|                      0|       0|         0|
+---+----------+----+----------+-----------------+-------------+------------------+---------------------+----------------+--------+--------+------------+-----------+-----------+-------------+--------------+--------------+----------+----------------+--------------+--------------+----------------+----------+------------+-------------------+----------------+-----------+---------------+-------------+------------+----------------+------------+------------------+-----------------------+--------+----------+

In [17]:
# Out of 27 million data rows, we have account locations for 8 million rows only

In [14]:
twitter_df5.select('account_id','account_location').distinct().count()

7869779

In [16]:
twitter_df5.select('account_id').distinct().count()
# For some accounts, the location is changing with time

7418754

In [9]:
twitter_df5.select('account_id','account_location').distinct().limit(10)

+-------------------+--------------------+
|         account_id|    account_location|
+-------------------+--------------------+
|         4439290607|      Ô∏èÔ∏èÔ∏èÔ∏è Ô∏èÔ∏è
Ô∏èÔ∏èÔ∏èÔ∏è Ô∏è|
|           67313763|    upstate New York|
|1474387239710990352|                null|
|         1141603477|       Arlington, Va|
|          118899225|       Milwaukee, WI|
|1145097164902883331|he/him ‚Ä¢ 22 ‚Ä¢ l(g...|
|1477937988822872067|     London, England|
|1320696007672451079|                null|
|          306975891|       Manhattan, KS|
|1457000608423100431|                null|
+-------------------+--------------------+

In [43]:
# Selecting distinct users with their locations from our tweets data

df_loc = twitter_df5.select('account_id','account_location').distinct()\
.groupBy('account_location')\
.agg(count('*').alias('total_twitterers'))

df_loc.orderBy('total_twitterers',ascending=False).show()

+----------------+----------------+
|account_location|total_twitterers|
+----------------+----------------+
|            null|         2492747|
|   United States|           66437|
|  Lagos, Nigeria|           40269|
| Los Angeles, CA|           33602|
|         Nigeria|           32783|
|         she/her|           30341|
|           India|           29430|
| London, England|           28484|
| California, USA|           25590|
|     Chicago, IL|           25254|
|     Houston, TX|           24496|
|     Atlanta, GA|           22454|
|             USA|           21619|
|      Texas, USA|           21472|
|  Nairobi, Kenya|           19875|
|  Washington, DC|           19481|
|    Florida, USA|           19411|
|          Canada|           19400|
|  United Kingdom|           19388|
|    New York, NY|           18217|
+----------------+----------------+
only showing top 20 rows

In [17]:
df_loc.limit(10)

+----------------+----------------+
|account_location|total_twitterers|
+----------------+----------------+
|          Oxford|             691|
|           Patna|             159|
|    in your mind|              60|
|    any pronouns|            2283|
|             ^*!|               1|
|    Kirkland, WA|             187|
|     Beecher, MI|              11|
|     Salford, UK|              17|
|        Sarpadia|               1|
|     Afghanistan|            1780|
+----------------+----------------+

In [44]:
## Clean location data
na_ctry = [ 'AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA',
           'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME',
           'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM',
           'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
           'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY','Texas','USA','US','United States',
            'Canada','canada','Toronto','toronto','Ontario','ontario',"Alaska", "Alabama",
             "Arkansas", "American Samoa", "Arizona", "California", "Colorado",
             "Connecticut", "District ", "of Columbia", "Delaware", "Florida", 
             "Georgia", "Guam", "Hawaii", "Iowa", "Idaho", "Illinois", "Indiana",
             "Kansas", "Kentucky", "Louisiana", "Massachusetts", "Maryland", "Maine", 
             "Michigan", "Minnesota", "Missouri", "Mississippi", "Montana", "North Carolina",
             "North Dakota", "Nebraska", "New Hampshire", "New Jersey", "New Mexico", "Nevada", 
             "New York", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Puerto Rico", "Rhode Island", 
             "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Virginia", 
             "Virgin Islands", "Vermont", "Washington", "Wisconsin", "West Virginia", "Wyoming",
             "Aberdeen", "Abilene", "Akron", "Albany", "Albuquerque", "Alexandria", "Allentown",
             "Amarillo", "Anaheim", "Anchorage", "Ann Arbor", "Antioch", "Apple Valley", "Appleton",
             "Arlington", "Arvada", "Asheville", "Athens", "Atlanta", "Atlantic City", "Augusta", 
             "Aurora", "Austin", "Bakersfield", "Baltimore", "Barnstable", "Baton Rouge", "Beaumont",
             "Bel Air", "Bellevue", "Berkeley", "Bethlehem", "Billings", "Birmingham", "Bloomington", 
             "Boise", "Boise City", "Bonita Springs", "Boston", "Boulder", "Bradenton", "Bremerton",
             "Bridgeport", "Brighton", "Brownsville", "Bryan", "Buffalo", "Burbank", "Burlington",
             "Cambridge", "Canton", "Cape Coral", "Carrollton", "Cary", "Cathedral City", "Cedar Rapids", 
             "Champaign", "Chandler", "Charleston", "Charlotte", "Chattanooga", "Chesapeake", "Chicago",
             "Chula Vista", "Cincinnati", "Clarke County", "Clarksville", "Clearwater", "Cleveland", 
             "College Station", "Colorado Springs", "Columbia", "Columbus", "Concord", "Coral Springs", 
             "Corona", "Corpus Christi", "Costa Mesa", "Dallas", "Daly City", "Danbury", "Davenport", 
             "Davidson County", "Dayton", "Daytona Beach", "Deltona", "Denton", "Denver", "Des Moines",
             "Detroit", "Downey", "Duluth", "Durham", "El Monte", "El Paso", "Elizabeth", "Elk Grove",
             "Elkhart", "Erie", "Escondido", "Eugene", "Evansville", "Fairfield", "Fargo", "Fayetteville",
             "Fitchburg", "Flint", "Fontana", "Fort Collins", "Fort Lauderdale", "Fort Smith",
             "Fort Walton Beach", "Fort Wayne", "Fort Worth", "Frederick", "Fremont", "Fresno", 
             "Fullerton", "Gainesville", "Garden Grove", "Garland", "Gastonia", "Gilbert", "Glendale",
             "Grand Prairie", "Grand Rapids", "Grayslake", "Green Bay", "GreenBay", "Greensboro",
             "Greenville", "Gulfport-Biloxi", "Hagerstown", "Hampton", "Harlingen", "Harrisburg", 
             "Hartford", "Havre de Grace", "Hayward", "Hemet", "Henderson", "Hesperia", "Hialeah",
             "Hickory", "High Point", "Hollywood", "Honolulu", "Houma", "Houston", "Howell", "Huntington", 
             "Huntington Beach", "Huntsville", "Independence", "Indianapolis", "Inglewood", "Irvine", 
             "Irving", "Jackson", "Jacksonville", "Jefferson", "Jersey City", "Johnson City", "Joliet", 
             "Kailua", "Kalamazoo", "Kaneohe", "Kansas City", "Kennewick", "Kenosha", "Killeen", "Kissimmee", 
             "Knoxville", "Lacey", "Lafayette", "Lake Charles", "Lakeland", "Lakewood", "Lancaster", "Lansing",
             "Laredo", "Las Cruces", "Las Vegas", "Layton", "Leominster", "Lewisville", "Lexington", "Lincoln",
             "Little Rock", "Long Beach", "Lorain", "Los Angeles", "Louisville", "Lowell", "Lubbock", "Macon",
             "Madison", "Manchester", "Marina", "Marysville", "McAllen", "McHenry", "Medford", "Melbourne", 
             "Memphis", "Merced", "Mesa", "Mesquite", "Miami", "Milwaukee", "Minneapolis", "Miramar",
             "Mission Viejo", "Mobile", "Modesto", "Monroe", "Monterey", "Montgomery", "Moreno Valley", 
             "Murfreesboro", "Murrieta", "Muskegon", "Myrtle Beach", "Naperville", "Naples", "Nashua", 
             "Nashville", "New Bedford", "New Haven", "New London", "New Orleans", "New York", "New York City",
             "Newark", "Newburgh", "Newport News", "Norfolk", "Normal", "Norman", "North Charleston", 
             "North Las Vegas", "North Port", "Norwalk", "Norwich", "Oakland", "Ocala", "Oceanside",
             "Odessa", "Ogden", "Oklahoma City", "Olathe", "Olympia", "Omaha", "Ontario", "Orange", 
             "Orem", "Orlando", "Overland Park", "Oxnard", "Palm Bay", "Palm Springs", "Palmdale", 
             "Panama City", "Pasadena", "Paterson", "Pembroke Pines", "Pensacola", "Peoria", "Philadelphia", 
             "Phoenix", "Pittsburgh", "Plano", "Pomona", "Pompano Beach", "Port Arthur", "Port Orange", 
             "Port Saint Lucie", "Port St. Lucie", "Portland", "Portsmouth", "Poughkeepsie", "Providence", 
             "Provo", "Pueblo", "Punta Gorda", "Racine", "Raleigh", "Rancho Cucamonga", "Reading", "Redding",
             "Reno", "Richland", "Richmond", "Richmond County", "Riverside", "Roanoke", "Rochester", "Rockford",
             "Roseville", "Round Lake Beach", "Sacramento", "Saginaw", "Saint Louis", "Saint Paul", 
             "Saint Petersburg", "Salem", "Salinas", "Salt Lake City", "San Antonio", "San Bernardino", 
             "San Buenaventura", "San Diego", "San Francisco", "San Jose", "Santa Ana", "Santa Barbara",
             "Santa Clara", "Santa Clarita", "Santa Cruz", "Santa Maria", "Santa Rosa", "Sarasota", 
             "Savannah", "Scottsdale", "Scranton", "Seaside", "Seattle", "Sebastian", "Shreveport", 
             "Simi Valley", "Sioux City", "Sioux Falls", "South Bend", "South Lyon", "Spartanburg", 
             "Spokane", "Springdale", "Springfield", "St. Louis", "St. Paul", "St. Petersburg", "Stamford", 
             "Sterling Heights", "Stockton", "Sunnyvale", "Syracuse", "Tacoma", "Tallahassee", "Tampa",
             "Temecula", "Tempe", "Thornton", "Thousand Oaks", "Toledo", "Topeka", "Torrance", "Trenton",
             "Tucson", "Tulsa", "Tuscaloosa", "Tyler", "Utica", "Vallejo", "Vancouver", "Vero Beach", 
             "Victorville", "Virginia Beach", "Visalia", "Waco", "Warren", "Washington", "Waterbury", 
             "Waterloo", "West Covina", "West Valley City", "Westminster", "Wichita", "Wilmington", 
             "Winston", "Winter Haven", "Worcester", "Yakima", "Yonkers", "York", "Youngstown",
          "Pacific no"]

In [45]:
# Making a lists of all countries in all continents
na_ctry1='|'.join([c for c in na_ctry])

af_ctry = my_world.get_countries_list_of('Africa')
af_ctry1='|'.join([c for c in af_ctry])

eu_ctry0 = my_world.get_countries_list_of('Europe')
eu_ctry1 = [*eu_ctry0,*['London','England','UK','United Kingdom','Scotland','Northern Ireland']]
eu_ctry2='|'.join([c for c in eu_ctry1])

oc_ctry = my_world.get_countries_list_of('Oceania')
oc_ctry1='|'.join([c for c in oc_ctry])

sa_ctry = my_world.get_countries_list_of('South America')
sa_ctry1='|'.join([c for c in sa_ctry])

as_ctry = my_world.get_countries_list_of('Asia')
as_ctry1='|'.join([c for c in as_ctry])

df_loc1 = df_loc\
.withColumn('Region',\
            when(df_loc['account_location'].rlike(af_ctry1), 'Africa')\
            .when(df_loc['account_location'].rlike(sa_ctry1), 'South America')\
            .when(df_loc['account_location'].rlike(oc_ctry1), 'Oceania')\
            .when(df_loc['account_location'].rlike(eu_ctry2), 'Europe')\
            .when(df_loc['account_location'].rlike(as_ctry1), 'Asia')\
            .when(df_loc['account_location'].rlike(na_ctry1), 'North America')\
            .otherwise(df_loc['account_location']))

In [46]:
df_loc1.limit(20)

+--------------------+----------------+--------------------+
|    account_location|total_twitterers|              Region|
+--------------------+----------------+--------------------+
|                lost|             271|                lost|
|   Chandigarh, India|             997|                Asia|
|   he/him in the GTA|               1|   he/him in the GTA|
|Somewhere in the ...|             213|Somewhere in the ...|
|                  16|             494|                  16|
|              „Ñ±„ÖÖ„Öá|               1|              „Ñ±„ÖÖ„Öá|
|    Bengaluru, India|            5239|                Asia|
|                +614|               1|                +614|
|                  SW|              20|                  SW|
|        Patna, India|            1537|                Asia|
|      Lake Worth, TX|               9|       North America|
|     Oxford, England|            1581|              Europe|
|Wilmington, North...|               2|       North America|
|Rio de Janeiro, B...|            1506|Rio de Janeiro, B...|
|Boston, Massachus...|             247|       North America|
|   Cape Coast, Ghana|             221|              Africa|
|Somewhere over th...|             308|Somewhere over th...|
|      Monticello, KY|               9|       North America|
|        West Malling|               1|        West Malling|
|          Stonebwoy |               1|          Stonebwoy |
+--------------------+----------------+--------------------+

In [47]:
cont = ['Africa','North America','South America','Asia','Europe','Oceania']
cont1='|'.join([c for c in cont])
cont1

'Africa|North America|South America|Asia|Europe|Oceania'

In [48]:
df_loc1_conts=df_loc1.filter(df_loc1['Region'].rlike(cont1))

In [49]:
conts_acc = df_loc1_conts.groupBy('Region').agg(sum('total_twitterers').alias('total_twitterers'))\
.orderBy('total_twitterers',ascending=False).toPandas()

In [51]:
conts_acc.head(6)

          Region  total_twitterers
0  North America           1936073
1         Europe            413332
2           Asia            330740
3         Africa            320432
4        Oceania             38538
5  South America             28898

In [ ]:
sns.set_style("white")

_, axes = plt.subplots(nrows=1, ncols=1, figsize=(9, 7))
#sns.barplot(x='tweet_type',data=num_tweets, ax=axes, palette='pastel',order=num_tweets['count'].value_counts().index)

sns.barplot(x="Region", y="total_twitterers", data=conts_acc.head(6), palette="pastel")

#axes.set_xticklabels(x_labels)

plt.title('Continents - Most number of Twitterers')
plt.xlabel('Continents')
plt.ylabel('Number of Twitterers')

sns.despine()
plt.xticks(rotation=45)

plt.show()

### Country-wise analysis

In [16]:
pip install pycountry

Collecting pycountry
  Downloading pycountry-22.3.5.tar.gz (10.1 MB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 10.1/10.1 MB 49.3 MB/s eta 0:00:0000:010:01
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: setuptools in /opt/conda/miniconda3/lib/python3.8/site-packages (from pycountry) (59.8.0)
Building wheels for collected packages: pycountry
  Building wheel for pycountry (pyproject.toml) ... done
  Created wheel for pycountry: filename=pycountry-22.3.5-py2.py3-none-any.whl size=10681832 sha256=d98f048f098ba215c8d479685e26302ed121d3bc8e61f28641c70b0fb1a10cec
  Stored in directory: /root/.cache/pip/wheels/e2/aa/0f/c224e473b464387170b83ca7c66947b4a7e33e8d903a679748
Successfully built pycountry
Installing collected packages: pycountry
Successfully installed pycountry-22.3.5
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Note: you may need to restart the kernel to use updated packages.

In [17]:
import pycountry

In [53]:
all_ctry = [country.name for country in pycountry.countries]
all_ctry = '|'.join([(country) for country in all_countries])

In [14]:
na_ctry = my_world.get_countries_list_of('North America')
sa_ctry = my_world.get_countries_list_of('South America')
eu_ctry = my_world.get_countries_list_of('Europe')
as_ctry = my_world.get_countries_list_of('Asia')
oc_ctry = my_world.get_countries_list_of('Oceania')
af_ctry = my_world.get_countries_list_of('Africa')

# Combine all country lists into a single list
all_ctry = na_ctry + sa_ctry + eu_ctry + as_ctry + oc_ctry + af_ctry

In [61]:
import pyspark.sql.functions as F
get_country = F.udf(lambda loc: next((c for c in all_ctry if loc and c.lower() in loc.lower()), None))

# Add a new column that contains the name of the matching country
df_loc1 = df_loc.withColumn('country', get_country('account_location'))

# Show the first 10 rows of the DataFrame
df_loc1.limit(10)

+--------------------+----------------+-------+
|    account_location|total_twitterers|country|
+--------------------+----------------+-------+
|    Bengaluru, India|            5239|  India|
|     South Carolina |             156|   null|
|       Cleveland, OH|            4583|   null|
|  Alice Smith School|               1|   null|
|Boston, Massachus...|             247|   null|
|         212 n√©e 313|               1|   null|
|   Chandigarh, India|             997|  India|
| Mingyu's pants üáßüá∑|               1|   null|
|   French Valley, CA|               7|   null|
|      Hidden leaf üìç|               1|   null|
+--------------------+----------------+-------+

In [67]:
usa = [ 'USA','US','United States','United States of America','AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA',
           'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME',
           'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM',
           'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
           'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY', "Aberdeen", "Abilene", "Akron", "Albany", 
             "Albuquerque", "Alexandria", "Allentown", "Amarillo", "Anaheim", "Anchorage", 
             "Ann Arbor", "Antioch", "Apple Valley", "Appleton", "Arlington", "Arvada", 
             "Asheville", "Athens", "Atlanta", "Atlantic City", "Augusta", "Aurora", "Austin", 
             "Bakersfield", "Baltimore", "Barnstable", "Baton Rouge", "Beaumont", "Bel Air", 
             "Bellevue", "Berkeley", "Bethlehem", "Billings", "Birmingham", "Bloomington", 
             "Boise", "Boise City", "Bonita Springs", "Boston", "Boulder", "Bradenton", "Bremerton", 
             "Bridgeport", "Brighton", "Brownsville", "Bryan", "Buffalo", "Burbank", "Burlington", 
             "Cambridge", "Canton", "Cape Coral", "Carrollton", "Cary", "Cathedral City", 
             "Cedar Rapids", "Champaign", "Chandler", "Charleston", "Charlotte", "Chattanooga", 
             "Chesapeake", "Chicago", "Chula Vista", "Cincinnati", "Clarke County", "Clarksville", 
             "Clearwater", "Cleveland", "College Station", "Colorado Springs", "Columbia", "Columbus", "Concord", "Coral Springs", "Corona", "Corpus Christi", "Costa Mesa", "Dallas", "Daly City", "Danbury", "Davenport", "Davidson County", "Dayton", "Daytona Beach", "Deltona", "Denton", "Denver", "Des Moines", "Detroit", "Downey", "Duluth", "Durham", "El Monte", "El Paso", "Elizabeth", "Elk Grove", "Elkhart", "Erie", "Escondido", "Eugene", "Evansville", "Fairfield", "Fargo", "Fayetteville", "Fitchburg", "Flint", "Fontana", "Fort Collins", "Fort Lauderdale", "Fort Smith", "Fort Walton Beach", "Fort Wayne", "Fort Worth", "Frederick", "Fremont", "Fresno", "Fullerton", "Gainesville", "Garden Grove", "Garland", "Gastonia", "Gilbert", "Glendale", "Grand Prairie", "Grand Rapids", "Grayslake", "Green Bay", "GreenBay", "Greensboro", "Greenville", "Gulfport-Biloxi", "Hagerstown", "Hampton", "Harlingen", "Harrisburg", "Hartford", "Havre de Grace", "Hayward", "Hemet", "Henderson", "Hesperia", "Hialeah", "Hickory", "High Point", "Hollywood", "Honolulu", "Houma", "Houston", "Howell", "Huntington", "Huntington Beach", "Huntsville", "Independence", "Indianapolis", "Inglewood", "Irvine", "Irving", "Jackson", "Jacksonville", "Jefferson", "Jersey City", "Johnson City", "Joliet", "Kailua", "Kalamazoo", "Kaneohe", "Kansas City", "Kennewick", "Kenosha", "Killeen", "Kissimmee", "Knoxville", "Lacey", "Lafayette", "Lake Charles", "Lakeland", "Lakewood", "Lancaster", "Lansing", "Laredo", "Las Cruces", "Las Vegas", "Layton", "Leominster", "Lewisville", "Lexington", "Lincoln", "Little Rock", "Long Beach", "Lorain", "Los Angeles", "Louisville", "Lowell", "Lubbock", "Macon", "Madison", "Manchester", "Marina", "Marysville", "McAllen", "McHenry", "Medford", "Melbourne", "Memphis", "Merced", "Mesa", "Mesquite", "Miami", "Milwaukee", "Minneapolis", "Miramar", "Mission Viejo", "Mobile", "Modesto", "Monroe", "Monterey", "Montgomery", "Moreno Valley", "Murfreesboro", "Murrieta", "Muskegon", "Myrtle Beach", "Naperville", "Naples", "Nashua", "Nashville", "New Bedford", "New Haven", "New London", "New Orleans", "New York", "New York City", "Newark", "Newburgh", "Newport News", "Norfolk", "Normal", "Norman", "North Charleston", "North Las Vegas", "North Port", "Norwalk", "Norwich", "Oakland", "Ocala", "Oceanside", "Odessa", "Ogden", "Oklahoma City", "Olathe", "Olympia", "Omaha", "Ontario", "Orange", "Orem", "Orlando", "Overland Park", "Oxnard", "Palm Bay", "Palm Springs", "Palmdale", "Panama City", "Pasadena", "Paterson", "Pembroke Pines", "Pensacola", "Peoria", "Philadelphia", "Phoenix", "Pittsburgh", "Plano", "Pomona", "Pompano Beach", "Port Arthur", "Port Orange", "Port Saint Lucie", "Port St. Lucie", "Portland", "Portsmouth", "Poughkeepsie", "Providence", "Provo", "Pueblo", "Punta Gorda", "Racine", "Raleigh", "Rancho Cucamonga", "Reading", "Redding", "Reno", "Richland", "Richmond", "Richmond County", "Riverside", "Roanoke", "Rochester", "Rockford", "Roseville", "Round Lake Beach", "Sacramento", "Saginaw", "Saint Louis", "Saint Paul", "Saint Petersburg", "Salem", "Salinas", "Salt Lake City", "San Antonio", "San Bernardino", "San Buenaventura", "San Diego", "San Francisco", "San Jose", "Santa Ana", "Santa Barbara", "Santa Clara", "Santa Clarita", "Santa Cruz", "Santa Maria", "Santa Rosa", "Sarasota", "Savannah", "Scottsdale", "Scranton", "Seaside", "Seattle", "Sebastian", "Shreveport", "Simi Valley", "Sioux City", "Sioux Falls", "South Bend", "South Lyon", "Spartanburg", "Spokane", "Springdale", "Springfield", "St. Louis", "St. Paul", "St. Petersburg", "Stamford", "Sterling Heights", "Stockton", "Sunnyvale", "Syracuse", "Tacoma", "Tallahassee", "Tampa", "Temecula", "Tempe", "Thornton", "Thousand Oaks", "Toledo", "Topeka", "Torrance", "Trenton", "Tucson", "Tulsa", "Tuscaloosa", "Tyler", "Utica", "Vallejo", "Vancouver", "Vero Beach", "Victorville", "Virginia Beach", "Visalia", "Waco", "Warren", "Washington", "Waterbury", "Waterloo", "West Covina", "West Valley City", "Westminster", "Wichita", 
             "Wilmington", "Winston", "Winter Haven", "Worcester", "Yakima", "Yonkers", "York", "Youngstown",
       "Alaska", "Alabama", "Arkansas", "American Samoa", "Arizona", "California", "Colorado", "Connecticut", "District ", "of Columbia", "Delaware", "Florida", "Georgia", "Guam", "Hawaii", "Iowa", "Idaho", "Illinois", "Indiana", "Kansas", "Kentucky", "Louisiana", "Massachusetts", "Maryland", "Maine", "Michigan", "Minnesota", "Missouri", "Mississippi", "Montana", "North Carolina", "North Dakota", "Nebraska", "New Hampshire", "New Jersey", "New Mexico", "Nevada", "New York", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Puerto Rico", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Virginia", "Virgin Islands", "Vermont", "Washington", "Wisconsin", "West Virginia", "Wyoming"]

#get_usa = F.udf(lambda loc: next((c for c in usa if loc), None))
#df_loc2 = df_loc1.withColumn('usa', get_usa('account_location'))

usa_st='|'.join([c for c in usa])


df_loc2=df_loc1\
.withColumn('usa',\
            when(df_loc1['account_location'].rlike(usa_st), 'United States')\
            .otherwise(None))

df_loc2.limit(20)

+----------------------+----------------+--------------+-------------+
|      account_location|total_twitterers|       country|          usa|
+----------------------+----------------+--------------+-------------+
|  iPhone: 40.730186...|               1|          null|         null|
|         Mount Olympus|              61|          null|         null|
|             Milky way|              81|          null|         null|
|  Salt Lake City, Utah|             365|          null|United States|
|             Planet 51|               1|          null|         null|
|     Virginia/Florida |               1|          null|United States|
|  London-United Kin...|               1|United Kingdom|         null|
|                    CT|             619|          null|United States|
|               Europe |             186|          null|         null|
|(„Å§‚âß‚ñΩ‚â¶)„Å§ me to my ...|               1|          null|         null|
|  Beautilful Bloomi...|               1|          null|United States|
|             Somewhere|            2208|          null|         null|
|  üá®üá∫üáøüá¶üáÆüá©üáÆüá≥üá≤üáº|               1|          null|         null|
|  the Lair, Colorad...|               1|          null|United States|
|     Pacific Northwest|             689|          null|         null|
|„Ää üá≤üáæ „Äã‚Ä¢ any prn...|               1|          null|United States|
|  Uddingston - Sout...|               1|          null|         null|
|               Various|              42|          null|         null|
|             miami, fl|              37|          null|         null|
|   England || Nigeria |               1|         Niger|         null|
+----------------------+----------------+--------------+-------------+

In [73]:
df_loc3 = df_loc2\
.withColumn('country_final',\
            when(df_loc2['country']!='null',df_loc2['country'])\
            .when(df_loc2['usa']!='null',df_loc2['usa'])\
            .otherwise(None))

In [74]:
df_loc3.limit(10)

+--------------------+----------------+-----------+-------------+-------------+
|    account_location|total_twitterers|    country|          usa|country_final|
+--------------------+----------------+-----------+-------------+-------------+
|               OH-07|               2|       null|United States|United States|
|      The Love Below|               4|       null|         null|         null|
|  Caracas, Venezuela|             482|  Venezuela|         null|    Venezuela|
|    College Park, GA|             141|       null|United States|United States|
|Lahore, Abu Dhabi...|               1|       null|         null|         null|
|      Lower Arkansas|               1|       null|United States|United States|
|     Afghanistan/US |               1|Afghanistan|United States|  Afghanistan|
|              Heaven|             853|       null|         null|         null|
|            Novi, MI|             117|       null|United States|United States|
|           Worcester|             107|       null|United States|United States|
+--------------------+----------------+-----------+-------------+-------------+

In [75]:
cont_acc=df_loc3.groupBy('country_final').agg(sum('total_twitterers').alias('total_twitterers'))\
.orderBy('total_twitterers',ascending=False).toPandas()

In [77]:
cont_acc.head(20)

     country_final  total_twitterers
0             None           4965440
1    United States           1884176
2            India            175063
3            Niger            139407
4           Canada             57861
5     South Africa             55738
6   United Kingdom             46036
7            Kenya             45846
8         Pakistan             40208
9        Australia             30430
10         Ireland             24973
11           Ghana             23772
12          Uganda             21294
13          Jersey             20992
14          France             20165
15       Indonesia             16169
16     Philippines             15241
17         Georgia             14277
18        Malaysia             13849
19         Germany             12856

In [78]:
cont_acc.to_csv('countries_users.csv', index=False)

### Adding location to the main data frame

In [13]:
twitter_df5_loc=twitter_df5.select('id','tweet_type','account_name','account_location')
twitter_df5_loc.limit(10)

+-------------------+----------+---------------+--------------------+
|                 id|tweet_type|   account_name|    account_location|
+-------------------+----------+---------------+--------------------+
|1566378682318462976|   retweet|    erin_gilbey| Birmingham, England|
|1566378688698097664|   retweet|       Odeshiye|               Ghana|
|1566378715709427719|   retweet| EuroAmerican87|Anywhere but here...|
|1566378716887916546|   retweet|Bharath12450842|                null|
|1566378724135555072|   retweet|       lvchdvmp|      archen's heart|
|1566378734529101824|   retweet|        doyiea_|                null|
|1566378741508734976|     reply|     thxteacher|                null|
|1566378743710744576|   retweet|   shoaibAlam28|        Jamui, India|
|1566378745539469312|     quote|      PaperupPh|           10AM-10PM|
|1566378750090027008|   retweet|   ResisterNell|           Kentucky |
+-------------------+----------+---------------+--------------------+

In [15]:
import pyspark.sql.functions as F
get_country = F.udf(lambda loc: next((c for c in all_ctry if loc and c.lower() in loc.lower()), None))

# Add a new column that contains the name of the matching country
twitter_df5_loc = twitter_df5_loc.withColumn('country', get_country('account_location'))

# Show the first 10 rows of the DataFrame
twitter_df5_loc.limit(10)

+-------------------+--------------+---------------+--------------------+-------+
|                 id|    tweet_type|   account_name|    account_location|country|
+-------------------+--------------+---------------+--------------------+-------+
|1598348248733089794|       retweet|Mohamma61323270|üåçAll over the pl...|   null|
|1598348256609697792|         reply|          japv1|                null|   null|
|1598348267208728576|       retweet|    ORPHEUSGIRL|                null|   null|
|1598348272954925057|       retweet|   MISSmatched_|                null|   null|
|1598348274100244480|       retweet|         BKS135|               India|  India|
|1598348274817433600|original_tweet|    IcyPotato03|                null|   null|
|1598348280571772929|       retweet| preciouslife_2|      Twilight zone |   null|
|1598348283176427520|       retweet|  mayaleiladora|          Boston, MA|   null|
|1598348290093109248|         reply|    jigglepuddz|                null|   null|
|1598348291623866374|         reply|LawrenceLinehan|1100-year-old cou...|   null|
+-------------------+--------------+---------------+--------------------+-------+

In [16]:
usa = [ 'USA','US','United States','United States of America','AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA',
           'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME',
           'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM',
           'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
           'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY', "Aberdeen", "Abilene", "Akron", "Albany", 
             "Albuquerque", "Alexandria", "Allentown", "Amarillo", "Anaheim", "Anchorage", 
             "Ann Arbor", "Antioch", "Apple Valley", "Appleton", "Arlington", "Arvada", 
             "Asheville", "Athens", "Atlanta", "Atlantic City", "Augusta", "Aurora", "Austin", 
             "Bakersfield", "Baltimore", "Barnstable", "Baton Rouge", "Beaumont", "Bel Air", 
             "Bellevue", "Berkeley", "Bethlehem", "Billings", "Birmingham", "Bloomington", 
             "Boise", "Boise City", "Bonita Springs", "Boston", "Boulder", "Bradenton", "Bremerton", 
             "Bridgeport", "Brighton", "Brownsville", "Bryan", "Buffalo", "Burbank", "Burlington", 
             "Cambridge", "Canton", "Cape Coral", "Carrollton", "Cary", "Cathedral City", 
             "Cedar Rapids", "Champaign", "Chandler", "Charleston", "Charlotte", "Chattanooga", 
             "Chesapeake", "Chicago", "Chula Vista", "Cincinnati", "Clarke County", "Clarksville", 
             "Clearwater", "Cleveland", "College Station", "Colorado Springs", "Columbia", "Columbus", "Concord", "Coral Springs", "Corona", "Corpus Christi", "Costa Mesa", "Dallas", "Daly City", "Danbury", "Davenport", "Davidson County", "Dayton", "Daytona Beach", "Deltona", "Denton", "Denver", "Des Moines", "Detroit", "Downey", "Duluth", "Durham", "El Monte", "El Paso", "Elizabeth", "Elk Grove", "Elkhart", "Erie", "Escondido", "Eugene", "Evansville", "Fairfield", "Fargo", "Fayetteville", "Fitchburg", "Flint", "Fontana", "Fort Collins", "Fort Lauderdale", "Fort Smith", "Fort Walton Beach", "Fort Wayne", "Fort Worth", "Frederick", "Fremont", "Fresno", "Fullerton", "Gainesville", "Garden Grove", "Garland", "Gastonia", "Gilbert", "Glendale", "Grand Prairie", "Grand Rapids", "Grayslake", "Green Bay", "GreenBay", "Greensboro", "Greenville", "Gulfport-Biloxi", "Hagerstown", "Hampton", "Harlingen", "Harrisburg", "Hartford", "Havre de Grace", "Hayward", "Hemet", "Henderson", "Hesperia", "Hialeah", "Hickory", "High Point", "Hollywood", "Honolulu", "Houma", "Houston", "Howell", "Huntington", "Huntington Beach", "Huntsville", "Independence", "Indianapolis", "Inglewood", "Irvine", "Irving", "Jackson", "Jacksonville", "Jefferson", "Jersey City", "Johnson City", "Joliet", "Kailua", "Kalamazoo", "Kaneohe", "Kansas City", "Kennewick", "Kenosha", "Killeen", "Kissimmee", "Knoxville", "Lacey", "Lafayette", "Lake Charles", "Lakeland", "Lakewood", "Lancaster", "Lansing", "Laredo", "Las Cruces", "Las Vegas", "Layton", "Leominster", "Lewisville", "Lexington", "Lincoln", "Little Rock", "Long Beach", "Lorain", "Los Angeles", "Louisville", "Lowell", "Lubbock", "Macon", "Madison", "Manchester", "Marina", "Marysville", "McAllen", "McHenry", "Medford", "Melbourne", "Memphis", "Merced", "Mesa", "Mesquite", "Miami", "Milwaukee", "Minneapolis", "Miramar", "Mission Viejo", "Mobile", "Modesto", "Monroe", "Monterey", "Montgomery", "Moreno Valley", "Murfreesboro", "Murrieta", "Muskegon", "Myrtle Beach", "Naperville", "Naples", "Nashua", "Nashville", "New Bedford", "New Haven", "New London", "New Orleans", "New York", "New York City", "Newark", "Newburgh", "Newport News", "Norfolk", "Normal", "Norman", "North Charleston", "North Las Vegas", "North Port", "Norwalk", "Norwich", "Oakland", "Ocala", "Oceanside", "Odessa", "Ogden", "Oklahoma City", "Olathe", "Olympia", "Omaha", "Ontario", "Orange", "Orem", "Orlando", "Overland Park", "Oxnard", "Palm Bay", "Palm Springs", "Palmdale", "Panama City", "Pasadena", "Paterson", "Pembroke Pines", "Pensacola", "Peoria", "Philadelphia", "Phoenix", "Pittsburgh", "Plano", "Pomona", "Pompano Beach", "Port Arthur", "Port Orange", "Port Saint Lucie", "Port St. Lucie", "Portland", "Portsmouth", "Poughkeepsie", "Providence", "Provo", "Pueblo", "Punta Gorda", "Racine", "Raleigh", "Rancho Cucamonga", "Reading", "Redding", "Reno", "Richland", "Richmond", "Richmond County", "Riverside", "Roanoke", "Rochester", "Rockford", "Roseville", "Round Lake Beach", "Sacramento", "Saginaw", "Saint Louis", "Saint Paul", "Saint Petersburg", "Salem", "Salinas", "Salt Lake City", "San Antonio", "San Bernardino", "San Buenaventura", "San Diego", "San Francisco", "San Jose", "Santa Ana", "Santa Barbara", "Santa Clara", "Santa Clarita", "Santa Cruz", "Santa Maria", "Santa Rosa", "Sarasota", "Savannah", "Scottsdale", "Scranton", "Seaside", "Seattle", "Sebastian", "Shreveport", "Simi Valley", "Sioux City", "Sioux Falls", "South Bend", "South Lyon", "Spartanburg", "Spokane", "Springdale", "Springfield", "St. Louis", "St. Paul", "St. Petersburg", "Stamford", "Sterling Heights", "Stockton", "Sunnyvale", "Syracuse", "Tacoma", "Tallahassee", "Tampa", "Temecula", "Tempe", "Thornton", "Thousand Oaks", "Toledo", "Topeka", "Torrance", "Trenton", "Tucson", "Tulsa", "Tuscaloosa", "Tyler", "Utica", "Vallejo", "Vancouver", "Vero Beach", "Victorville", "Virginia Beach", "Visalia", "Waco", "Warren", "Washington", "Waterbury", "Waterloo", "West Covina", "West Valley City", "Westminster", "Wichita", 
             "Wilmington", "Winston", "Winter Haven", "Worcester", "Yakima", "Yonkers", "York", "Youngstown",
       "Alaska", "Alabama", "Arkansas", "American Samoa", "Arizona", "California", "Colorado", "Connecticut", "District ", "of Columbia", "Delaware", "Florida", "Georgia", "Guam", "Hawaii", "Iowa", "Idaho", "Illinois", "Indiana", "Kansas", "Kentucky", "Louisiana", "Massachusetts", "Maryland", "Maine", "Michigan", "Minnesota", "Missouri", "Mississippi", "Montana", "North Carolina", "North Dakota", "Nebraska", "New Hampshire", "New Jersey", "New Mexico", "Nevada", "New York", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Puerto Rico", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Virginia", "Virgin Islands", "Vermont", "Washington", "Wisconsin", "West Virginia", "Wyoming"]

usa_st='|'.join([c for c in usa])


twitter_df5_loc=twitter_df5_loc\
.withColumn('usa',\
            when(twitter_df5_loc['account_location'].rlike(usa_st), 'United States')\
            .otherwise(None))

twitter_df5_loc.limit(10)

+-------------------+----------+---------------+--------------------+-------+-------------+
|                 id|tweet_type|   account_name|    account_location|country|          usa|
+-------------------+----------+---------------+--------------------+-------+-------------+
|1566378682318462976|   retweet|    erin_gilbey| Birmingham, England|   null|United States|
|1566378688698097664|   retweet|       Odeshiye|               Ghana|  Ghana|         null|
|1566378715709427719|   retweet| EuroAmerican87|Anywhere but here...|   null|United States|
|1566378716887916546|   retweet|Bharath12450842|                null|   null|         null|
|1566378724135555072|   retweet|       lvchdvmp|      archen's heart|   null|         null|
|1566378734529101824|   retweet|        doyiea_|                null|   null|         null|
|1566378741508734976|     reply|     thxteacher|                null|   null|         null|
|1566378743710744576|   retweet|   shoaibAlam28|        Jamui, India|  India|         null|
|1566378745539469312|     quote|      PaperupPh|           10AM-10PM|   null|         null|
|1566378750090027008|   retweet|   ResisterNell|           Kentucky |   null|United States|
+-------------------+----------+---------------+--------------------+-------+-------------+

In [17]:
twitter_df5_loc = twitter_df5_loc\
.withColumn('country_final',\
            when(twitter_df5_loc['country']!='null',twitter_df5_loc['country'])\
            .when(twitter_df5_loc['usa']!='null',twitter_df5_loc['usa'])\
            .otherwise(None))

twitter_df5_loc.limit(10)

+-------------------+--------------+---------------+--------------------+-------+-------------+-------------+
|                 id|    tweet_type|   account_name|    account_location|country|          usa|country_final|
+-------------------+--------------+---------------+--------------------+-------+-------------+-------------+
|1598348248733089794|       retweet|Mohamma61323270|üåçAll over the pl...|   null|         null|         null|
|1598348256609697792|         reply|          japv1|                null|   null|         null|         null|
|1598348267208728576|       retweet|    ORPHEUSGIRL|                null|   null|         null|         null|
|1598348272954925057|       retweet|   MISSmatched_|                null|   null|         null|         null|
|1598348274100244480|       retweet|         BKS135|               India|  India|         null|        India|
|1598348274817433600|original_tweet|    IcyPotato03|                null|   null|         null|         null|
|1598348280571772929|       retweet| preciouslife_2|      Twilight zone |   null|         null|         null|
|1598348283176427520|       retweet|  mayaleiladora|          Boston, MA|   null|United States|United States|
|1598348290093109248|         reply|    jigglepuddz|                null|   null|         null|         null|
|1598348291623866374|         reply|LawrenceLinehan|1100-year-old cou...|   null|         null|         null|
+-------------------+--------------+---------------+--------------------+-------+-------------+-------------+

In [20]:
twitter_df5_loc_orig=twitter_df5_loc.filter(col('tweet_type')=='original_tweet')
twitter_df5_loc_orig.limit(10)

+-------------------+--------------+---------------+--------------------+-------+-------------+-------------+
|                 id|    tweet_type|   account_name|    account_location|country|          usa|country_final|
+-------------------+--------------+---------------+--------------------+-------+-------------+-------------+
|1566378788845506560|original_tweet| BabichZarzycka|     Wroc≈Çaw, Polska|   null|         null|         null|
|1566378804402323458|original_tweet|     aqeeltweet|     Gulbarga, India|  India|         null|        India|
|1566378865068498947|original_tweet|      fahmiswag|ÿßŸÑŸÖŸÖŸÑŸÉÿ© ÿßŸÑÿπÿ±ÿ®Ÿäÿ© ÿß...|   null|         null|         null|
|1566379116017901568|original_tweet|   EssayPaperUK|      Long Beach, CA|   null|United States|United States|
|1566379138956423169|original_tweet|        usualsy|          6 ongoings|   null|         null|         null|
|1566379279440650240|original_tweet|    OlumoRocktv|             Ireland|Ireland|         null|      Ireland|
|1566379420201410560|original_tweet|getthatrightgtr|              Global|   null|         null|         null|
|1566379426945835009|original_tweet| suppiluliumass|                null|   null|         null|         null|
|1566379643413880837|original_tweet|ShaikhaBinjasim|              Kuwait| Kuwait|         null|       Kuwait|
|1566379715438321666|original_tweet|     gotsvnteen|     exo got7 svt ts|   null|         null|         null|
+-------------------+--------------+---------------+--------------------+-------+-------------+-------------+

In [22]:
twitter_df5_loc_orig_usa=twitter_df5_loc_orig.filter(col('country_final')=='United States')
tweeters_usa=twitter_df5_loc_orig_usa.select('account_name','country_final').groupBy('account_name','country_final').count().orderBy('count',ascending=False).limit(10).toPandas()

In [23]:
tweeters_usa.head(10)

     account_name  country_final  count
0        group_kq  United States   4092
1   DennisStemmle  United States   2676
2    dealsoftakis  United States   2475
3        Rdene915  United States   1554
4   abook_and_bev  United States   1384
5    usasharenews  United States   1335
6     KandusDakus  United States   1322
7  InHomeTutor808  United States   1127
8       Bgm117771  United States    990
9       sux4_ever  United States    932

In [24]:
twitter_df5_loc_orig_ind=twitter_df5_loc_orig.filter(col('country_final')=='India')
tweeters_ind=twitter_df5_loc_orig_ind.select('account_name','country_final').groupBy('account_name','country_final').count().orderBy('count',ascending=False).limit(10).toPandas()
tweeters_ind.head(10)

      account_name country_final  count
0  angieshandmade1         India    555
1          malpani         India    411
2   PophaleSamarth         India    378
3     school_finds         India    367
4   sirimahanthesh         India    365
5   shubhambagde00         India    351
6         htTweets         India    338
7   Granthshalaind         India    299
8        indcareer         India    285
9    sameepshastri         India    243

In [25]:
twitter_df5_loc_orig_nig=twitter_df5_loc_orig.filter(col('country_final')=='Niger')
tweeters_nig=twitter_df5_loc_orig_nig.select('account_name','country_final').groupBy('account_name','country_final').count().orderBy('count',ascending=False).limit(10).toPandas()

      account_name country_final  count
0  angieshandmade1         India    555
1          malpani         India    411
2   PophaleSamarth         India    378
3     school_finds         India    367
4   sirimahanthesh         India    365
5   shubhambagde00         India    351
6         htTweets         India    338
7   Granthshalaind         India    299
8        indcareer         India    285
9    sameepshastri         India    243

In [26]:
tweeters_nig.head(10)

      account_name country_final  count
0     studyinnaija         Niger   5149
1  GraceSmartsBlog         Niger    575
2     StrawberryNG         Niger    403
3   myschoolnewstv         Niger    331
4     realminablog         Niger    331
5         PelMedic         Niger    254
6   ThomasEAbiodun         Niger    229
7         MyJobMag         Niger    177
8       9jajobinfo         Niger    172
9        updatefly         Niger    171